*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
:root{
    --primary:          #1E3768;
    --primary-on-black: #1e3768;
    --on-primary:       #ffffff;
    --text:             #000000;
}

body{
    height: 100svh;
    /* background-color: var(--primary); */
    background-image: linear-gradient(41deg, rgba(107, 107, 107, 0.04) 0%, rgba(107, 107, 107, 0.04) 8%,rgba(31, 31, 31, 0.04) 8%, rgba(31, 31, 31, 0.04) 100%),linear-gradient(9deg, rgba(228, 228, 228, 0.04) 0%, rgba(228, 228, 228, 0.04) 62%,rgba(54, 54, 54, 0.04) 62%, rgba(54, 54, 54, 0.04) 100%),linear-gradient(124deg, rgba(18, 18, 18, 0.04) 0%, rgba(18, 18, 18, 0.04) 37%,rgba(233, 233, 233, 0.04) 37%, rgba(233, 233, 233, 0.04) 100%),linear-gradient(253deg, rgba(201, 201, 201, 0.04) 0%, rgba(201, 201, 201, 0.04) 55%,rgba(47, 47, 47, 0.04) 55%, rgba(47, 47, 47, 0.04) 100%),linear-gradient(270deg, rgba(172, 172, 172, 0.04) 0%, rgba(172, 172, 172, 0.04) 33%,rgba(26, 26, 26, 0.04) 33%, rgba(26, 26, 26, 0.04) 100%),linear-gradient(64deg, rgba(11, 11, 11, 0.04) 0%, rgba(11, 11, 11, 0.04) 38%,rgba(87, 87, 87, 0.04) 38%, rgba(87, 87, 87, 0.04) 100%),linear-gradient(347deg, rgba(199, 199, 199, 0.04) 0%, rgba(199, 199, 199, 0.04) 69%,rgba(4, 4, 4, 0.04) 69%, rgba(4, 4, 4, 0.04) 100%),linear-gradient(313deg, rgba(36, 36, 36, 0.04) 0%, rgba(36, 36, 36, 0.04) 20%,rgba(91, 91, 91, 0.04) 20%, rgba(91, 91, 91, 0.04) 100%),linear-gradient(90deg, rgb(10, 17, 72),rgb(30,55,104));
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.hero-section{
    padding: 5em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 80%;
    gap: 5em;
}

.hero-section .text-content{
    width: 600px;
    line-height: 1.5em;
    color: var(--on-primary);
}
.hero-section .text-content h1{
    font-size: 52px;
    font-weight: 800;
    line-height: 1.2em;
    letter-spacing: 2px;
    margin-bottom: 0.3em;
    filter: drop-shadow(1px 1px 10px #000);
    position: relative;
}
.hero-section .text-content h3 {
    font-size: 18px;
    font-weight: 400;
    opacity: 0.7;
}
.hero-section .text-content h3 span{
    font-size: 26px;
}
.hero-section .text-content .buttons{
    margin-top: 20px;
    display: flex;
    gap: 1em;
}
.hero-section .text-content .buttons button{
    padding: 10px 25px;
    font-size: 18px;
    border-radius: 5px;
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.5s ease all;
}
.hero-section .text-content .buttons button:hover{
    transform: scale(1.05);
    box-shadow: 2px 2px 10px #000;
    transition: 0.5s ease all;
}
.hero-section .text-content .buttons button.Products-link{
    background-color: var(--on-primary);
    border: 1px solid var(--primary);
    color: var(--primary);
}
.hero-section .text-content .buttons button.Contact-link{
    background-color: transparent;
    color: var(--on-primary);
    border: 1px solid var(--on-primary);
}

.hero-img{
    width: 400px;
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-30%,-50%);
    border-radius: 15px;
}
.hero-img.one{
    box-shadow: 2px 2px 10px #000;
    animation: zoomIn 2s ease-in 0s;
}
.hero-img.two{
    width: 210px;
    top: 55%;
    left: 60%;
    box-shadow: 5px 5px 50px #000;
    animation: zoomIn 1.5s ease-in 0s;
}
.hero-img.three{
    width: 300px;
    top: 70%;
    left: 80%;
    box-shadow: 5px 5px 50px #000;
    animation: zoomIn 1s ease-in 0s;
}

@media (max-width: 830px) {
    .hero-section{
        flex-direction: column;
        text-align: center;
    }
    .hero-section .text-content .buttons{
        justify-content: center;
    }
    .hero-img{
        left: 50%;
        transform: translateX(-50%);
    }
    .hero-img.two{
        left: 25%;
        top: 60%;
    }
    .hero-img.three{
        left: 60%;
        top: 65%;
    }
}

@media (max-width: 480px) {
    .hero-section{
        flex-direction: column;
        text-align: left;
        padding: 3em 1em;
    }
    .hero-section .text-content{
        width: 320px;
    }
    .hero-section .text-content h1{
        font-size: 32px;
    }
    .hero-section .text-content h3{
        font-size: 12px;
    }
    .hero-section .text-content h3 span{
        font-size: 18px;
    }
    .hero-section .text-content .buttons{
        justify-content: flex-start;
    }
    .hero-section .text-content .buttons button{
        padding: 7px 15px;
        font-size: 14px;
    }
    .hero-img.one{
        top: 60%;
        width: 250px;
    }
    .hero-img.two{
        width: 120px;
        top: 70%;
        left: 20%;
    }
    .hero-img.three{
        width: 180px;
        top: 75%;
        left: 65%;
    }
}

@keyframes zoomIn {
    from {
        width: 0px;
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideRight {
    from{
        left: -500px;
    }
    to{
        left: 0;
    }
}